body{
    color:#40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color:#66bfbf;
}

h2{
    color: #66bfbf;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-size: 2.5rem; */
    font-weight: normal;
    padding: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 10%;
    color: #EAF6F6;
    margin: 50px auto;
}
/* p{
    
} */

/* div{
    background-color: #e4f9f5;
    
} */

.topcontainer{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    
}

.middlecontainer{
 margin: 100px 0;
  
}

.bottomcontainer{
    background-color: #66bfbf;
    padding: 50px 0 20px ;
    
}

.red{
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
    top: 200px;
   
}

.blue{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.yellow{
    background-color: yellow;
    width: 100px;
    height: 100px;
   position: absolute;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

 .top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
} 
.skill-row{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    
}

p{
    line-height: 2;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.myskills{
    margin-top: 50px;
}

.web-dev{
    float: left;
    margin-right: 40px;
}
.photo{
    float: right;
    margin-left: 30px;
}
.Digi-Marketing{
    float: left;
    margin-right: 40px;
}

.intro{
    width: 75%;
    margin: auto;
    
}

/* .contact-me{
    margin: 50px 0 50px 0;
    line-height: 2;
} */

/* .contact-message{
    width: 50%;
    margin: 40px auto 50px;

}

.contact-no{
    margin: 30px 0 30px 0;
} */


.copyright{
    color: #EAf6f6;
    padding: 20px 0;
}

.myButton {
        -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
        -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
        box-shadow:inset 0px 1px 0px 0px #dcecfb;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #66bfbf), color-stop(1, #11999e));
        background:-moz-linear-gradient(top, #66bfbf 5%, #11999e 100%);
        background:-webkit-linear-gradient(top, #66bfbf 5%, #11999e 100%);
        background:-o-linear-gradient(top, #66bfbf 5%, #11999e 100%);
        background:-ms-linear-gradient(top, #66bfbf 5%, #11999e 100%);
        background:linear-gradient(to bottom, #66bfbf 5%, #11999e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66bfbf', endColorstr='#11999e',GradientType=0);
        background-color:#66bfbf;
        -webkit-border-radius:7px;
        -moz-border-radius:7px;
        border-radius:7px;
        border:1px solid #66bfbf;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size:16px;
        font-weight:bold;
        padding:12px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #11999e;
        
    }
     
